body {
    padding-bottom: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.heading {
    text-align: center;

}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav .logo p {
    font-size: 1.5rem;
    font-weight: bold;

}

nav .nav-links ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 200;
}

a:hover {
    color: lightgrey;

}

.tracker-input {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 5px;
    /* grid-template-columns: 3fr 2fr 1fr;
    grid-gap: 5px; */
}

.tracker-input input {
    width: 39%;
}

.cases-flex-container {
    display: flex;
    flex-direction: row;
}

.cases {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 5px;
    flex-direction: column-reverse;
    /* display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-gap: 5px; */
    margin-top: 5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.the-tracker-num,
.the-tracker-date {
    width: 44%;
}

.btn-div {
    width: 12%;
}

.btn-div button {
    width: 100%;
}

.follow-up-cases {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
    grid-gap: 5px;

}


.f-up-cases {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: 5px;
}


h2 {
    margin-top: 100px;
}

.input-f-up,
.input-num {
    padding: 10px 20px 10px 5px;
}

.input-date-f-up,
.input-date {
    padding: 10px 20px 10px 10px;
}

.add-btn {
    padding: 10px 20px;
}

.btn-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2px;

}

.add-line-btn {
    display: block;
    text-align: center;
    margin: 70px auto;
}

.scroll-btn-div {
    margin-top: 30px;
    padding: 20px;
    text-align: right;
}

.scroll-up-btn {
    padding: 20px;
    margin-right: 100px;
    border-radius: 50%;
    background-color: lightgray;
    border: none;
    font-weight: bold;
    font-size: 20px;
    transition: opacity 0.25s;
}

.scroll-up-btn:hover {
    opacity: 0.8;
    border: darkgrey 1px solid;
}

.scroll-up-btn:active {
    opacity: 0.5;
    border: darkgrey 1px solid;
}

.marked-method {
    text-decoration: underline;
}